<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>docker_test</title>
  <style>
    body {
      margin: 16px
    }

    button,
    img {
      display: none;
      width: 40%
    }

    button {
      padding: 16px 0;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #fff;
      cursor: pointer
    }
  </style>
</head>

<body>
  <h2>LIFF Login</h2>
  <img id="pictureUrl">

  <button id="btnLogIn" onclick="logIn()">Log In</button>
  <button id="btnLogOut" onclick="logOut()">Log Out</button>
  <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
  <script>
    function logOut() {
      liff.logout()
      window.location.reload()
    }
    function logIn() {
      liff.login({ redirectUri: window.location.href })
    }
    async function getUserProfile() {
      const profile = await liff.getProfile()
      document.getElementById("pictureUrl").style.display = "block"
      document.getElementById("pictureUrl").src = profile.pictureUrl
      
      // get idToken
      const idToken = liff.getIDToken();
      // decode idToken
      const {email} = liff.getDecodedIDToken(idToken)
      // get access token
      const accessToken = liff.getAccessToken() 
      await sendReqLiffLogin(accessToken,email) // TODO: implement verify id token in go
    }
    async function main() {
      const init = await liff.init({
        liffId: '{{.LIFF_ID}}',
        withLoginOnExternalBrowser: true, // Enable automatic login process
      })
        .then(() => {
          console.log('LIFF init success')
        })
        .catch((err) => {
          alert(JSON.stringify(err));
          return err
        });
      if (liff.isInClient()) {
        getUserProfile()
      } else {
        if (liff.isLoggedIn()) {
          await getUserProfile()
          document.getElementById("btnLogIn").style.display = "none"
          document.getElementById("btnLogOut").style.display = "block"
          await liff.closeWindow()
        } else {
          document.getElementById("btnLogIn").style.display = "block"
          document.getElementById("btnLogOut").style.display = "none"
        }
      }
    }
    async function sendDataBackToBackendPOST(data) {
      const options = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      }
      await fetch('/api/v1/line/liff', options)
    }
    async function sendReqLiffLogin(access_token , email) {
      const options = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': `Bearer ${access_token}` ,
        },
      }
      await fetch(`/api/v1/line/login${!!email ? `?email=${email}` : ""}`,options) // TODO: implement verify id token in go
    }
    main()
  </script>
</body>

</html>